<div class="overflow-x-auto relative shadow-md">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="py-3 px-6">ID</th>
        <th scope="col" class="py-3 px-6">Name</th>
        <th scope="col" class="py-3 px-6">Email</th>
        <th scope="col" class="py-3 px-6">Cohort</th>
        <th scope="col" class="py-3 px-6">Phone Number</th>
        <th scope="col" class="py-3 px-6">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="bg-white border-b dark:bg-gray-900 dark:border-gray-700"
        *ngFor="let student of showStudents"
      >
        <th
          scope="row"
          class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ student._id }}
        </th>
        <th
          scope="row"
          class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ student.name }}
        </th>
        <td class="py-4 px-6">{{ student.email }}</td>
        <td class="py-4 px-6">{{ student.cohort }}</td>
        <td class="py-4 px-6">{{ student.phoneNumber }}</td>
        <td class="py-4 px-6">
          <a
            (click)="editStudent(student._id)"
            class="font-large m-5 text-blue-600 dark:text-blue-500 hover:underline fa-solid fa-pen-to-square"
          ></a>
          <a
          (click)="getStudent(student._id)"
          class="font-large m-5 text-blue-600 dark:text-blue-500 hover:underline fa-regular fa-address-card"
        ></a>
          <a
            (click)="deleteStudent(student._id)"
            class="font-large m-5 text-blue-600 dark:text-blue-500 hover:underline fa-solid fa-trash-can"
          >
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
