<mat-toolbar style="background-color: #005b96">
  <span style="color: #fff">Student CRUD App</span>
  <span class="spacer"></span>

  <button class="nav-btn" mat-raised-button style="background-color: #92BDE4;" routerLink="/home">
    Home
  </button>

  <button
    class="nav-btn"
    mat-raised-button
    style="background-color: #92BDE4;"
    routerLink="/view-student"
  >
    View Students
  </button>

  <button
    class="nav-btn"
    mat-raised-button
    style="background-color: #92BDE4;"
    routerLink="/add-student"
  >
    Add Student
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
